mtom-client/src/main/resources/wsdl/documents.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="https://github.com/ralfstuckert/mtom" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="https://github.com/ralfstuckert/mtom" targetNamespace="https://github.com/ralfstuckert/mtom"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0">
	<wsdl:types>
		<xs:schema xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
			xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xs="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified" jaxb:version="2.0"
			targetNamespace="https://github.com/ralfstuckert/mtom">

			<xs:annotation>
				<xs:appinfo>
					<jaxb:schemaBindings>
						<jaxb:package name="rst.sample.mtom.jaxb" />
					</jaxb:schemaBindings>
				</xs:appinfo>
			</xs:annotation>

			<xs:element name="storeDocumentRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="document" type="tns:document" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="storeDocumentResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="success" type="xs:boolean" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:complexType name="document">
				<xs:sequence>
					<xs:element name="name" type="xs:string" />
					<xs:element name="author" type="xs:string" />
					<xs:element name="content" type="xs:base64Binary" />
				</xs:sequence>
			</xs:complexType>

		</xs:schema>
	</wsdl:types>
	<wsdl:message name="storeDocumentRequest">
		<wsdl:part element="tns:storeDocumentRequest" name="storeDocumentRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="storeDocumentResponse">
		<wsdl:part element="tns:storeDocumentResponse" name="storeDocumentResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="DocumentsPort">
		<wsdl:operation name="storeDocument">
			<wsdl:input message="tns:storeDocumentRequest" name="storeDocumentRequest">
			</wsdl:input>
			<wsdl:output message="tns:storeDocumentResponse" name="storeDocumentResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DocumentsPortSoap11" type="tns:DocumentsPort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="storeDocument">
			<soap:operation soapAction="" />
			<wsdl:input name="storeDocumentRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="storeDocumentResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DocumentsPortService">
		<wsdl:port binding="tns:DocumentsPortSoap11" name="DocumentsPortSoap11">
			<soap:address location="http://localhost:9090/ws" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>